# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#runtime
runtime
/web/assets/7e187b73/
/web/assets/31adfe0c/
/web/assets/f8b963ec/
/web/assets/aad3f2db/
/web/assets/4285bca9/
/web/assets/3ac8cda7/
/web/assets/6c5dc5fd/
/web/assets/26333db9/
/web/assets/ca8eb7c2/
/web/assets/10071226/
/web/assets/ccd81f50/
/web/assets/b0281661/
/web/assets/242ce7bc/
/web/assets/2f99a603/
/web/assets/ef275ff4/
/web/assets/3af5640f/
/web/assets/ebd7cb7b/
/web/assets/60ca474d/
/web/assets/692b5424/
/web/assets/27514f71/
/web/assets/d6611ab8/
/web/assets/1d917eac/
/web/assets/f2dd8045/
/web/assets/f6514649/
/web/assets/285ade77/
/web/assets/88c4e81c/
/web/assets/1498c01c/
/web/assets/76ff55b0/
/web/assets/dad9b901/
/web/assets/af918dc8/
/web/assets/89632831/
/web/assets/960e7dec/
/web/assets/b9521bc7/
/web/assets/99324ae4/
/web/assets/b130d13d/
/web/assets/e65a9abb/
/web/assets/bc25393c/
/web/assets/2d58b289/
/web/assets/5131ffa1/
/web/assets/e77daeca/
/web/assets/35404645/
/web/assets/f629faaa/
/web/assets/8dbc9a0e/
/web/assets/59545f65/
/web/assets/fad2423a/
/web/assets/ad7c5613/
/web/assets/dc16537/
/web/assets/67f42de1/
/web/assets/84dc5ae1/
/web/assets/a63f80b1/
/web/assets/4786635b/
/web/assets/9b82f22b/
/web/assets/b9bff765/
/web/assets/d201a5b9/
/web/assets/4d293bba/
/web/assets/b3a3878d/
/web/assets/a655c5fb/
/web/assets/2c86ad67/
/web/assets/1fdac34/
/web/assets/e4294b25/
/web/assets/f5e0ccc1/
/web/assets/15fec9bc/
/web/assets/89323f82/
/web/assets/524022c5/
/web/assets/6b8b5538/
/web/assets/30c9a8d/
/web/assets/dc51eff4/
/web/assets/476bf6b3/
/web/assets/db4ea8dd/
/web/assets/af470ec0/
/web/assets/20cda99f/
/web/assets/4745c5be/
/web/assets/5ec15711/
/web/assets/57af774c/
/web/assets/ba09531b/
/web/assets/968783c8/
/web/assets/97e43e04/
/web/assets/e2ccd43/
/web/assets/b72855fa/
/web/assets/bca3a2c9/
/web/assets/e28a4c17/
/web/assets/21def636/
/web/assets/d0c3c299/
/web/assets/4340680/
/node_modules/*
/node_modules/
/web/reporte/Colaboradores.xlsx
